@model List<AllFixturesViewModel>
@{
    ViewBag.Title = "Fixtures";
}

<partial name="_FixturesPartialView" model="@Model" />
<div class="container button-add" style="margin-bottom:120px">
    <a <a asp-controller="Fixture" asp-action="AddFixture" class="btn btn-danger btn-lg float-right">Add Fixture</a>
</div>