@model EditFixtureViewModel
@{
    ViewBag.Title = "Edit Fixture";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditFixture" method="post">
            <div class="mb-3">
                <label asp-for="@Model.StartTime" class="form-label-add-edit">StartTime</label>
                <input asp-for="@Model.StartTime" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
